.container {
    display: flex;
    position: absolute;
    align-items: center;
}

@keyframes example {
    0% {
        background-color: white;
        left: 300px;
        top: 0px;
    }

    20% {
        background-color: yellow;
        left: -400px;
        top: 200px;
    }

    40% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    55% {
        background-color: green;
        left: 400px;
        top: 200px;
    }

    75% {
        background-color: red;
        left:0px;
        top: 300px;
    }
    85% {
        background-color: orange;
        left:-50px;
        top: 300px;
    }
    100% {
        background-color: rgb(26, 255, 0);
        left:100px;
        top: 200px;
    }
}

p{
   text-align: center;
}

.hello {
    background-color: greenyellow;
    font-size: 17px;
    padding: 5px 10px;
    border: red solid 2px;
    position: relative;
    top: 400px;
    left: 300px;
    width: 200px;
}

.first {
    background-color: orangered;
    font-size: 15px;
    border: white solid 2px;
    padding: 5px 10px;
position: relative;
    top: 0px;
    left: 800px;
    width: fit-content
}

.happy {
    background-color: yellow;
    font-size: 15px;
    border: black solid 2px;
    padding: 5px 10px;
    position: relative;
        top: 300px;
        left: 150px;
    width: fit-content;
}

.comment {
    background-color: violet;
    font-size: 15px;
    border: blue solid 2px;
    padding: 5px 10px;
    position: relative;
        top: 400px;
        right: 0px;
    width: fit-content;
}

button{
    width: 200px;
    padding: 10px;
    border: black solid 1px;
    background-color: wheat;
    font-size: 25px;
    position: relative;
        animation-name: example;
        animation-duration: 40s;
        animation-iteration-count: infinite;
}

.fixed{
    position: absolute;
}