.container {
    display: flex;
    position: absolute;
    align-items: center;
}

@keyframes example {
    0% {
        background-color: white;
        left: 0rem;
        top: 9rem;
    }

    20% {
        background-color: yellow;
        left: 9rem;
        top: 18rem;
    }

    40% {
        background-color: blue;
        left: 1rem;
        top: 22rem;
    }

    55% {
        background-color: green;
        left: 2rem;
        top: 15rem;
    }

    75% {
        background-color: red;
        left:7rem;
        top: 1rem;
    }
    85% {
        background-color: orange;
        left:0rem;
        top: 5rem;
    }
    100% {
        background-color: rgb(26, 255, 0);
        left:0rem;
        top: 0;
    }
}

p{
   text-align: center;
}

.hello {
    background-color: greenyellow;
    font-size: 17px;
    padding: 5px 10px;
    border: red solid 2px;
    position: relative;
    top: 5rem;
    left: 2rem;
    width: 200px;
}

.first {
    background-color: orangered;
    font-size: 15px;
    border: white solid 2px;
    padding: 5px 10px;
position: relative;
    top: 0.5rem;
    left: 8rem;
    width: fit-content
}

.happy {
    background-color: yellow;
    font-size: 15px;
    border: black solid 2px;
    padding: 5px 10px;
    position: relative;
        top: 9rem;
        left: 4rem;
    width: fit-content;
}

.comment {
    background-color: violet;
    font-size: 15px;
    border: blue solid 2px;
    padding: 5px 13px;
    position: relative;
        top: 1rem;
        right: 7rem;
    width: fit-content;
}

button{
    width: 200px;
    padding: 10px;
    border: black solid 1px;
    background-color: wheat;
    font-size: 25px;
    position: relative;
        animation-name: example;
        animation-duration: 40s;
        animation-iteration-count: infinite;
}

.fixed{
    position: absolute;
}